body {
    background-image: url(./todolistpics/background.jpg);
}

header {
    height: 30px;
    background-color: brown;
}

footer {
    height: 30px;
    background-color: brown;
}

.innercontainer {
    margin: auto;
    width: 500px;
    
}